# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
venv/
ENV/
env/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Coverage
.coverage
.coverage.*
coverage.xml
*.cover
htmlcov/

# pytest
.pytest_cache/
.pytest

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# SQLite
*.db
*.sqlite
*.sqlite3
*.db-journal

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
